.order-container {
  padding: 20px;
  min-height: 100vh;

  /*  SAME background image */
  background-image: url("../assets/shopping-bag-cart.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
}

/*  overlay */
.order-container::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
}

/* Content above overlay */
.order-container > * {
  position: relative;
  z-index: 1;
}

.order-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.order-box {
  width: 60%;
  background: hwb(197 2% 77% / 0.085);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.order-item {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
}

.order-item:last-child {
  border-bottom: none;
}

.order-total {
  margin-top: 20px;
}

.order-submit-btn {
  margin-top: 20px;
  background-color: #ff4d4d;
  color: white;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.order-submit-btn:hover {
  background-color: #e60000;
}

.order-success-message {
  margin-top: 15px;
  font-size: 18px;
  color: green;
  font-weight: bold;
}

.order-empty {
  padding: 20px;
}
